body {
    background-color: #131313;
}

#content {
    padding:auto;
}

#interaction {
    width: 500px;
    margin:auto;
}

#playerinfo {
    width: 280px;
    padding: 20px;
    margin:auto;
}

#gameoutput {
    padding: 0px 20px 20px 20px;
    width: 500px;
}

#gameinput {
    padding: 20px 20px 0px 20px;
    width: 500px;
}

#playername {
    font-size: 20px;
    font-weight:bold;
    font-family: Helvetica;
    color: #777;
}

#txtUserAction {
    width: 500px;
    height: 100px;
    padding: 10px;
    background-color: #333;
    color: #BBB;
    border: 0px solid;
    font-family:Calibri;
}

.outputstyle {
    width:460px;
    background-color: #313131;
    color:#AAA;
    font-family:Calibri;
    font-size:0.8em;
    padding:20px;
    border-top:1px;
    border-bottom:0px;
    border-right:0px;
    border-left:0px;
    border-style:solid;
    border-color: #CCC;
    margin:0px;
}
